<%= render :partial => "common/season_selector" %>
<%= render :partial => "common/list" %>

<div id="detail-data-div">
  <div id="detail-data-gchart-div"></div>
  <div class="single-note-import" id="single-note-import-div">
    <input class="ui-widget ui-state-default ui-corner-all ui-button-text-only" id="single-note-import-field" name="name" size="50" type="text">
    <button id="single-note-add-button">Add Note</button>
  </div>
</div>

<%= javascript_tag("jQuery.ready(new PlayerDetailView(#{@playerdata.to_json}))") %>
<%= javascript_tag("jQuery.ready(document.title = '#{@title}')") %>
<%= javascript_tag("jQuery.ready(jQuery.ready(jQuery(window).unbind('keyup.deletekey')))") %>
