<% seasons = Season.order("id DESC").all %>
<div id="season-select-div">
  <select id="season-select">
    <% seasons.each do |season| %>
    <option value="<%= season.id %>" pointhog="<%= season.pointhog %>"><%= season.name %></option>
    <% end %>
  </select>
</div>
<hr id="season-selector-hr">
<% if (true == seasons.empty?()) %>
<%= javascript_tag("jQuery.ready(jQuery.error('no-seasons', 'You have no seasons. Please add a season before continuing.'))") %>
<% end %>
<%= javascript_tag("jQuery.ready(jQuery('#season-select').selectBox())") %>
